@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <form id="form-logon" action="/home/login" method="POST">
            <h2>Nome</h2>
            <input type="text" name="nome" id="nome" class="form-control" />
            <button type="submit">Enviar</button>
        </form>
        
    </div>
</div>
