@using Kronen
@using Kronen.Models

@model VMLobby
@Html.Partial("../Shared/_Chat.cshtml", @Model.chatRoom)

<div ng-controller="lobbyGameController" class="container-tela">
    <h2>Bem vindo ao Kronen</h2>
    <p>Escolha um jogo</p>
    <table class="table table-bordered">
        <thead>
            <th>Game ID</th>
            <th>Nome</th>
            <th>Jogadores</th>
            <th>#</th>
        </thead>
        <tbody>
            <tr ng-repeat="g in gamesAvailable">
                <td>{{g.gameId}}</td>
                <td>{{g.name}}</td>
                <td>{{g.players}}</td>
                <td><a href="/home/room/{{g.gameId}}">Entrar</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger" data-toggle="modal" data-target="#modalCreateGame">Criar novo jogo</button>
</div>
<script>
    kronenApp.controller('lobbyGameController', function($scope, $http){
        var onGoing = false;

        function consultarGames(){
                $http.get('/api/lobby',{}).then(function(ret){
                    onGoing = false;
                    if(ret.Errors == null && ret.data != null){
                        $scope.gamesAvailable = ret.data.gamesAvailable;
                    }
                });
        }
        setInterval(function(){
            if(!onGoing){
                onGoing = true;
                consultarGames();
            }
        }, 5000);
        consultarGames();
    });
</script>

@Html.Partial("../Shared/_ModalCriarJogo.cshtml")