.carta{
    border: 1px solid black;
    width: 55px;
    height: 76px;
    cursor: pointer;
    border-radius: 10%;
    background: white;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
}
.valor{
    position: absolute;
    padding-left: 38px;
    padding-top: 4px;
}
.naipe{
    padding: 3px;
    font-size: 65px;
}
.red{
    color: red;
}
.tile{
    border:2px solid rgb(80, 74, 74);
    padding: 50px;
    padding-top: 60px;
    margin: 15px;
    align-content: center;
}
.tile_full{
    padding: 12px;
}
.table_game{
    border-spacing: 3px;
    border-collapse: separate;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.icon-coroa{
    width: 75px;
    height: 70px;
    position: absolute;
    margin-left: 100px;
    margin-top: -40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.painel-jogador{
    max-width: 400px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
